<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4">
  <servlet>
    <description></description>
    <display-name>AttributeExamples</display-name>
    <servlet-name>AttributeExamples</servlet-name>
    <servlet-class>attribute.AttributeExamples</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttributeExamples</servlet-name>
    <url-pattern>/AttributeExamples</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContextScope</display-name>
    <servlet-name>ContextScope</servlet-name>
    <servlet-class>attribute.ContextScope</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextScope</servlet-name>
    <url-pattern>/ContextScope</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadingScope</display-name>
    <servlet-name>ReadingScope</servlet-name>
    <servlet-class>attribute.ReadingScope</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadingScope</servlet-name>
    <url-pattern>/ReadingScope</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionScope</display-name>
    <servlet-name>SessionScope</servlet-name>
    <servlet-class>attributesession.SessionScope</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionScope</servlet-name>
    <url-pattern>/SessionScope</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadingSessionScope</display-name>
    <servlet-name>ReadingSessionScope</servlet-name>
    <servlet-class>attributesession.ReadingSessionScope</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadingSessionScope</servlet-name>
    <url-pattern>/ReadingSessionScope</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestServlet</display-name>
    <servlet-name>RequestServlet</servlet-name>
    <servlet-class>attributerequest.RequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestServlet</servlet-name>
    <url-pattern>/RequestServlet</url-pattern>
  </servlet-mapping>
</web-app>